In [68]:
from pyspark import SparkContext 
from pyspark.sql import SQLContext

from pyspark.sql.functions import to_date, to_timestamp

In [6]:
sc = SparkContext()
sqlContext = SQLContext(sc)

In [77]:
# sales
df_sales = sqlContext.read.format('com.databricks.spark.csv')\
        .options(header='true', inferschema='true').load('data/sales_train.csv')
print(type(df_sales))

# shop
df_shop = sqlContext.read.format('com.databricks.spark.csv')\
        .options(header='true', inferschema='true').load('data/shops.csv')

<class 'pyspark.sql.dataframe.DataFrame'>

In [78]:
df_sales = df_sales.select(
    to_date(df_sales.date, 'dd.MM.yyyy').alias('date'), 
    'date_block_num', 
    'shop_id', 
    'item_id', 
    'item_price', 
    'item_cnt_day')

In [99]:
df_sales.createOrReplaceTempView("df_sales")
df_shop.createOrReplaceTempView("shops")

In [79]:
df_sales.printSchema()

root
 |-- date: date (nullable = true)
 |-- date_block_num: integer (nullable = true)
 |-- shop_id: integer (nullable = true)
 |-- item_id: integer (nullable = true)
 |-- item_price: double (nullable = true)
 |-- item_cnt_day: double (nullable = true)

In [21]:
df_shop.printSchema()

root
 |-- shop_name: string (nullable = true)
 |-- shop_id: integer (nullable = true)

## Select

```sql
select 
    date,
    date_block_num,
    shop_id,
    item_price
from df_sales
limit 10
```

In [44]:
# use dataframe
df_sales.select('date', 'date_block_num', 'shop_id', 'item_price').show(10)

+----------+--------------+-------+----------+
|      date|date_block_num|shop_id|item_price|
+----------+--------------+-------+----------+
|02.01.2013|             0|     59|     999.0|
|03.01.2013|             0|     25|     899.0|
|05.01.2013|             0|     25|     899.0|
|06.01.2013|             0|     25|   1709.05|
|15.01.2013|             0|     25|    1099.0|
|10.01.2013|             0|     25|     349.0|
|02.01.2013|             0|     25|     549.0|
|04.01.2013|             0|     25|     239.0|
|11.01.2013|             0|     25|     299.0|
|03.01.2013|             0|     25|     299.0|
+----------+--------------+-------+----------+
only showing top 10 rows

In [100]:
# use spark sql
sqlContext.sql("select * from df_sales")

Py4JJavaError: An error occurred while calling o63.sql.
: java.lang.ClassNotFoundException: java.lang.NoClassDefFoundError: org/apache/hadoop/hive/conf/HiveConf when creating Hive client using classpath: file:/Users/lizeyu/Documents/Spark/mysql-connector-java-5.1.49-bin.jar
Please make sure that jars for your version of hive and hadoop are included in the paths passed to spark.sql.hive.metastore.jars.
	at org.apache.spark.sql.hive.client.IsolatedClientLoader.createClient(IsolatedClientLoader.scala:277)
	at org.apache.spark.sql.hive.HiveUtils$.newClientForMetadata(HiveUtils.scala:384)
	at org.apache.spark.sql.hive.HiveUtils$.newClientForMetadata(HiveUtils.scala:286)
	at org.apache.spark.sql.hive.HiveExternalCatalog.client$lzycompute(HiveExternalCatalog.scala:66)
	at org.apache.spark.sql.hive.HiveExternalCatalog.client(HiveExternalCatalog.scala:65)
	at org.apache.spark.sql.hive.HiveExternalCatalog$$anonfun$databaseExists$1.apply$mcZ$sp(HiveExternalCatalog.scala:215)
	at org.apache.spark.sql.hive.HiveExternalCatalog$$anonfun$databaseExists$1.apply(HiveExternalCatalog.scala:215)
	at org.apache.spark.sql.hive.HiveExternalCatalog$$anonfun$databaseExists$1.apply(HiveExternalCatalog.scala:215)
	at org.apache.spark.sql.hive.HiveExternalCatalog.withClient(HiveExternalCatalog.scala:97)
	at org.apache.spark.sql.hive.HiveExternalCatalog.databaseExists(HiveExternalCatalog.scala:214)
	at org.apache.spark.sql.internal.SharedState.externalCatalog$lzycompute(SharedState.scala:114)
	at org.apache.spark.sql.internal.SharedState.externalCatalog(SharedState.scala:102)
	at org.apache.spark.sql.internal.SharedState.globalTempViewManager$lzycompute(SharedState.scala:141)
	at org.apache.spark.sql.internal.SharedState.globalTempViewManager(SharedState.scala:136)
	at org.apache.spark.sql.hive.HiveSessionStateBuilder$$anonfun$2.apply(HiveSessionStateBuilder.scala:55)
	at org.apache.spark.sql.hive.HiveSessionStateBuilder$$anonfun$2.apply(HiveSessionStateBuilder.scala:55)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.globalTempViewManager$lzycompute(SessionCatalog.scala:91)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.globalTempViewManager(SessionCatalog.scala:91)
	at org.apache.spark.sql.catalyst.catalog.SessionCatalog.lookupRelation(SessionCatalog.scala:701)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.org$apache$spark$sql$catalyst$analysis$Analyzer$ResolveRelations$$lookupTableFromCatalog(Analyzer.scala:728)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.resolveRelation(Analyzer.scala:683)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$8.applyOrElse(Analyzer.scala:713)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$$anonfun$apply$8.applyOrElse(Analyzer.scala:706)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1$$anonfun$apply$1.apply(AnalysisHelper.scala:90)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1$$anonfun$apply$1.apply(AnalysisHelper.scala:90)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:69)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1.apply(AnalysisHelper.scala:89)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1.apply(AnalysisHelper.scala:86)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:194)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$class.resolveOperatorsUp(AnalysisHelper.scala:86)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUp(LogicalPlan.scala:29)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1$$anonfun$1.apply(AnalysisHelper.scala:87)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1$$anonfun$1.apply(AnalysisHelper.scala:87)
	at org.apache.spark.sql.catalyst.trees.TreeNode$$anonfun$4.apply(TreeNode.scala:328)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapProductIterator(TreeNode.scala:186)
	at org.apache.spark.sql.catalyst.trees.TreeNode.mapChildren(TreeNode.scala:326)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1.apply(AnalysisHelper.scala:87)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$$anonfun$resolveOperatorsUp$1.apply(AnalysisHelper.scala:86)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.allowInvokingTransformsInAnalyzer(AnalysisHelper.scala:194)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$class.resolveOperatorsUp(AnalysisHelper.scala:86)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.resolveOperatorsUp(LogicalPlan.scala:29)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:706)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$ResolveRelations$.apply(Analyzer.scala:652)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1$$anonfun$apply$1.apply(RuleExecutor.scala:87)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1$$anonfun$apply$1.apply(RuleExecutor.scala:84)
	at scala.collection.LinearSeqOptimized$class.foldLeft(LinearSeqOptimized.scala:124)
	at scala.collection.immutable.List.foldLeft(List.scala:84)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1.apply(RuleExecutor.scala:84)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor$$anonfun$execute$1.apply(RuleExecutor.scala:76)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at org.apache.spark.sql.catalyst.rules.RuleExecutor.execute(RuleExecutor.scala:76)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.org$apache$spark$sql$catalyst$analysis$Analyzer$$executeSameContext(Analyzer.scala:127)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.execute(Analyzer.scala:121)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$$anonfun$executeAndCheck$1.apply(Analyzer.scala:106)
	at org.apache.spark.sql.catalyst.analysis.Analyzer$$anonfun$executeAndCheck$1.apply(Analyzer.scala:105)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper$.markInAnalyzer(AnalysisHelper.scala:201)
	at org.apache.spark.sql.catalyst.analysis.Analyzer.executeAndCheck(Analyzer.scala:105)
	at org.apache.spark.sql.execution.QueryExecution.analyzed$lzycompute(QueryExecution.scala:58)
	at org.apache.spark.sql.execution.QueryExecution.analyzed(QueryExecution.scala:56)
	at org.apache.spark.sql.execution.QueryExecution.assertAnalyzed(QueryExecution.scala:48)
	at org.apache.spark.sql.Dataset$.ofRows(Dataset.scala:78)
	at org.apache.spark.sql.SparkSession.sql(SparkSession.scala:642)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:564)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:844)
Caused by: java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:488)
	at org.apache.spark.sql.hive.client.IsolatedClientLoader.createClient(IsolatedClientLoader.scala:271)
	... 72 more
Caused by: java.lang.NoClassDefFoundError: org/apache/hadoop/hive/conf/HiveConf
	at org.apache.spark.sql.hive.client.HiveClientImpl.newState(HiveClientImpl.scala:153)
	at org.apache.spark.sql.hive.client.HiveClientImpl.<init>(HiveClientImpl.scala:118)
	... 77 more
Caused by: java.lang.ClassNotFoundException: org.apache.hadoop.hive.conf.HiveConf
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:466)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:566)
	at org.apache.spark.sql.hive.client.IsolatedClientLoader$$anon$1.doLoadClass(IsolatedClientLoader.scala:226)
	at org.apache.spark.sql.hive.client.IsolatedClientLoader$$anon$1.loadClass(IsolatedClientLoader.scala:215)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:499)
	... 79 more

In [50]:
# sqlContext.sql("select * from df_sales").collect()

In [40]:
df_sales.show(5)

+----------+--------------+-------+-------+----------+------------+
|      date|date_block_num|shop_id|item_id|item_price|item_cnt_day|
+----------+--------------+-------+-------+----------+------------+
|02.01.2013|             0|     59|  22154|     999.0|         1.0|
|03.01.2013|             0|     25|   2552|     899.0|         1.0|
|05.01.2013|             0|     25|   2552|     899.0|        -1.0|
|06.01.2013|             0|     25|   2554|   1709.05|         1.0|
|15.01.2013|             0|     25|   2555|    1099.0|         1.0|
+----------+--------------+-------+-------+----------+------------+
only showing top 5 rows

## Where

```sql
select 
    date,
    date_block_num,
    shop_id,
    item_price
from df_sales
where shop_id = 59
limit 10
```

In [87]:
df_sales.select('date', 'date_block_num', 'shop_id', 'item_price').filter('shop_id=59').show(10)

+----------+--------------+-------+----------+
|      date|date_block_num|shop_id|item_price|
+----------+--------------+-------+----------+
|2013-01-02|             0|     59|     999.0|
|2013-01-10|             0|     59|     399.0|
|2013-01-04|             0|     59|     699.0|
|2013-01-19|             0|     59|     199.0|
|2013-01-31|             0|     59|    5571.0|
|2013-01-10|             0|     59|     699.0|
|2013-01-14|             0|     59|     699.0|
|2013-01-10|             0|     59|    2390.0|
|2013-01-04|             0|     59|    2390.0|
|2013-01-17|             0|     59|    2390.0|
+----------+--------------+-------+----------+
only showing top 10 rows

In [85]:
df_sales.select('date', 'date_block_num', 'shop_id', 'item_price').where('shop_id=59' and 'item_price<500').show(10)

+----------+--------------+-------+----------+
|      date|date_block_num|shop_id|item_price|
+----------+--------------+-------+----------+
|2013-01-10|             0|     25|     349.0|
|2013-01-04|             0|     25|     239.0|
|2013-01-11|             0|     25|     299.0|
|2013-01-03|             0|     25|     299.0|
|2013-01-03|             0|     25|     399.0|
|2013-01-05|             0|     25|     399.0|
|2013-01-07|             0|     25|     399.0|
|2013-01-08|             0|     25|     399.0|
|2013-01-10|             0|     25|     399.0|
|2013-01-11|             0|     25|     399.0|
+----------+--------------+-------+----------+
only showing top 10 rows

## Group By

```sql
select 
    shop_id,
    date,
    sum(item_price) as total_item_price,
    count(item_cnt_day)
from df_sales
limit 10

```

In [41]:
df_sales.groupby(['shop_id', 'date'])\
    .agg({'item_price': 'sum', 'item_cnt_day': 'count'})\
    .withColumnRenamed('sum(item_price)', 'total_item_price')\
    .show(10)

+-------+----------+------------------+-------------------+
|shop_id|      date|  total_item_price|count(item_cnt_day)|
+-------+----------+------------------+-------------------+
|     19|23.01.2013|           28044.0|                 40|
|     21|09.01.2013|           26144.0|                 48|
|      7|10.01.2013|           33229.0|                 45|
|     54|19.01.2013|         249391.75|                363|
|     43|05.01.2013|           65291.0|                 70|
|     54|18.02.2013|           64734.5|                133|
|     56|19.02.2013|64164.513333330004|                102|
|     53|14.02.2013|           34731.0|                 60|
|     16|10.02.2013|           89948.0|                120|
|     21|05.02.2013|           21960.0|                 37|
+-------+----------+------------------+-------------------+
only showing top 10 rows

## Order By
```sql
select 
    shop_id,
    date,
    item_price,
    item_cnt_day
from df_sales
order by shop_id, date desc
limit 10

```

In [94]:
df_sales.groupby(['shop_id', 'date'])\
    .agg({'item_price': 'sum', 'item_cnt_day': 'count'})\
    .withColumnRenamed('sum(item_price)', 'total_item_price')\
    .orderBy(['shop_id', 'date'], ascending=[1, 0])\
    .where("date BETWEEN '2013-01-02' and '2013-01-04'")\
    .show(10)

+-------+----------+----------------+-------------------+
|shop_id|      date|total_item_price|count(item_cnt_day)|
+-------+----------+----------------+-------------------+
|      0|2013-01-04|        179943.0|                272|
|      0|2013-01-03|         91765.0|                174|
|      1|2013-01-04|         44355.0|                 36|
|      1|2013-01-03|         93332.0|                188|
|      2|2013-01-04|         58984.0|                 70|
|      2|2013-01-03|        88430.85|                 83|
|      2|2013-01-02|        73996.22|                 75|
|      3|2013-01-04|         22932.0|                 43|
|      3|2013-01-03|         58891.0|                 43|
|      3|2013-01-02|         36517.0|                 62|
+-------+----------+----------------+-------------------+
only showing top 10 rows

## Distinct

```sql
select distinct 
    shop_id, 
    item_id
from df_sales
limit 5;
```

In [43]:
df_sales.select('shop_id', 'item_id').distinct().show(5)

+-------+-------+
|shop_id|item_id|
+-------+-------+
|     25|   2122|
|     25|   2221|
|     24|   4015|
|     24|   1475|
|     24|   3140|
+-------+-------+
only showing top 5 rows

## Join

### Left Join

```sql
select 
    df_sales.shop_id, 
    df_sales.item_id,
    df_shop.shop_name
from df_sales
left join df_shop
on df_sales.shop_id = df_shop.shop_id
limit 10;
```

In [64]:
df_sales.join(df_shop, df_sales.shop_id==df_shop.shop_id, "left")\
    .select(df_sales.shop_id, 'item_id', 'shop_name')\
    .show(10)

+-------+-------+--------------------+
|shop_id|item_id|           shop_name|
+-------+-------+--------------------+
|     59|  22154|"Ярославль ТЦ ""А...|
|     25|   2552|"Москва ТРК ""Атр...|
|     25|   2552|"Москва ТРК ""Атр...|
|     25|   2554|"Москва ТРК ""Атр...|
|     25|   2555|"Москва ТРК ""Атр...|
|     25|   2564|"Москва ТРК ""Атр...|
|     25|   2565|"Москва ТРК ""Атр...|
|     25|   2572|"Москва ТРК ""Атр...|
|     25|   2572|"Москва ТРК ""Атр...|
|     25|   2573|"Москва ТРК ""Атр...|
+-------+-------+--------------------+
only showing top 10 rows

In [61]:
df_shop.select('shop_id', 'shop_name').filter('shop_id=59').show()

+-------+--------------------+
|shop_id|           shop_name|
+-------+--------------------+
|     59|"Ярославль ТЦ ""А...|
+-------+--------------------+

# Spark SQL

In [5]:
sc.stop()